<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>

<form id="form" class="topBefore" action="/answer" method="get">
  <input id="name" type="text" name="question" placeholder="Type here...">
  <input id="submit" type="submit" value="Ask the coach!" class="btn-treehouse">
</form>
